<!DOCTYPE html>
<html>
<head>
    <title>title1</title>
</head>
<body>
        <input type="submit" class="btn" value="Click" name="mybtn">

    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
    {% endfor %}

    <table style="width:100%">
        <tr>
            <th><h1>Unit</h1></th>
            <th><h1>Loaded</h1></th>
            <th><h1>Active</h1></th>
            <th><h1>Status</h1></th>
            <th><h1>Description</h1></th>
        </tr>
        {% for process in processes %}
            <tr>
                <th>{{ process.PROCESS }}
                        <input type="submit" class="btn" value="Start {{ process.PROCESS }}" name="Start">
                        <input type="submit" class="btn" value="Stop {{ process.PROCESS }}" name="Stop">
                        <input type="submit" class="btn" value="Reload {{ process.PROCESS }}" name="Reload">
                </th>
                <th>{{ process.LOAD }}</th>
                <th>{{ process.ACTIVE }}</th>
                <th>{{ process.STATUS }}</th>
                <th>{{ process.DESCRIPTION }}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>