<!DOCTYPE html>
<html>
<head>
    <title>title1</title>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th><h1>Unit</h1></th>
            <th><h1>Loaded</h1></th>
            <th><h1>Active</h1></th>
            <th><h1>Status</h1></th>
            <th><h1>Description</h1></th>
        </tr>
        {% for process in processes %}
            <tr>
                <th>{{ process.PROCESS }}
                    <form action="" method="post">
                        <input type="submit" value="Start {{ process.PROCESS }}" name="Start">
                        <input type="submit" value="Stop {{ process.PROCESS }}" name="Stop">
                        <input type="submit" value="Reload {{ process.PROCESS }}" name="Reload">
                    </form>
                </th>
                <th>{{ process.LOAD }}</th>
                <th>{{ process.ACTIVE }}</th>
                <th>{{ process.STATUS }}</th>
                <th>{{ process.DESCRIPTION }}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>