<td class="b">
<form class="tabletext" method="post">SGM1, SN:A0679 - SSH to 192.168.15.3(root/zubur1) and execute &quot;connect 17&quot; For reboot click: 
<button class="example_e" name="serial" value="A0679" onclick="return confirm(&#x27;Are you sure you want to reboot SGM A0679?&#x27;);">Reboot</button></form>
</td>


<form method="post">
<div class="size-selector">
<div class="entry">s</div>
<div class="entry">m</div>
<div class="entry">l</div>
<div class="entry">xl</div>
<div class="entry">xxl</div>
<div class="spacer"></div>
</div>
<input type="submit" value="Confirm size">
</form>
